*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}

/* index.css */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* Universal class for dark mode navbar input borders */
  input, button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  